{% extends "base.html" %}
{% load static %}


{% block style %}

<link href="{% static 'css/History.css' %}" rel="stylesheet" />

{% endblock %}




{% block content %}
  <!-- ====== Menu Section ======= -->
  
  <section id="menu" class="menu"  style="margin-top: 50px;">
    <div class="container" data-aos="fade-up">

      <div class="section-header" style="margin-left: 10px;">
        <h2>About us</h2>
      </div>

      <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <li class="nav-item">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
            <h4 style="color: rgb(239,65,74);">Introduce</h4>
          </a>

        </li><!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
            <h4 style="color: rgb(57,138,159);">History</h4>
          </a><!-- End tab nav item -->

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
            <h4 style="color: rgb(55,78,128);">Curriculum</h4>
            
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade active show" id="menu-starters">
          <section class="resume-section" id="experience">
            <div class="resume-section-content">
              <h2 class="mb-5">Introduction</h2>

              <img src="{% static 'img/profile/예찬.jpg' %}"/>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                  <h3 class="mb-0">Oh yea chan</h3>
                  <div class="subheading mb-3">11기 대표 오예찬</div>
                  <p>안녕하세요. LIKELION UNIV x HBNU 11기 대표 오예찬입니다. <br>
                    이 글을 읽으시는 분들이라면 남들보다 코딩에 혹은 창업에 대한 열정이 넘치는 분들이라 생각이 드는데요.<br>
                    길지 않은 대학생활 그 넘치는 열정을 발산할 곳을 찾고 계시나요?<br>
                    LIKELION UNIV x HBNU에 지원하세요.
                    교육, 협업, 서비스 런칭까지 올 한 해 저희와 함께 어디서도 얻지 못할 값진 경험을 하게 될 겁니다.
                  </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">December 2000 - 28</span></div>
              </div>

                <img src="{% static 'img/profile/준호.png' %}"/>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="flex-grow-1">
                    <h3 class="mb-0">JUNO SHON</h3>
                    <div class="subheading mb-3">11기 운영진 손준호</div>
                    <p>안녕하세요 :) 
                      LIKELION UNIV x HBNU 11기 운영진 손준호입니다. 이 홈페이지까지 들어왔다면, 당신의 열정은 이미 충분합니다!<br> 실력은 중요하지 않습니다. 하고자 하는 열정만 준비하시면 저희와 함께 하실 수 있습니다! <br>여러분의 아이디어, 멋쟁이사자처럼에서 실현해보세요!</p>
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">March 2000 - 17</span></div>
                </div>
              
              <img src="{% static 'img/profile/주차녕.png' %}"/>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                  <h3 class="mb-0">JU CHAN KIM</h3>
                  <div class="subheading mb-3">11기 운영진 김주찬</div>
                  <p>안녕하세요.
                    LIKELION UNIV x HBNU 11기 운영진 김주찬입니다.
                    저는 웹 보안 공부와 웹 개발 공부를 주로 하고 있습니다
                    LIKELION UNIV x HBNU에서는 백엔드 개발 파트 운영진을 맡고 있습니다.
                    부족하지만 큰 도움이 될 수 있게 열심히 하겠습니다 !</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">March 1999 - 3</span></div>
              </div>

              <img src="{% static 'img/profile/영재.png' %}"/>
              <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                  <h3 class="mb-0">YEONG JAE LEE</h3>
                  <div class="subheading mb-3">11기 운영진 이영재</div>
                  <p>안녕하세요 이번 멋쟁이 사자처럼 11기 벡엔드 운영진 이영재입니다! 
                    부족하지만 실력이지만 여러분께 도움이 되도록 노력하겠습니다. 
                    같이 열심히 공부해서 멋진 프로젝트 만들어요~</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2000 - 14</span></div>
              </div>
            </div>
          </section>

        </div><!-- End Starter Menu Content -->

        <div class="tab-pane fade" id="menu-breakfast">
          <section class="resume-section" id="experience">
            <div class="resume-section-content">
              <div style="text-align: left; font-size: 50px; margin-left: 10%; font-weight: 100;">10기 history</div>
              <div class="d-flex flex-column flex-md-row justify-content-center mb-5">
                <div class="flex-grow-1">
                  <div class="history-item">
                    <div class="left">
                      <div class="history-item-text-1">3월 ~ 6월</div>
                    </div>
                    <div class="right">
                      <div class="history-item-text-1">스터디 진행</div>
                      <div class="history-item-text-2"></div>
                    </div>
                  </div>
        
                  <div class="history-item">
                    <div class="left">
                      <div class="history-item-text-1">7월</div>
                    </div>
                    <div class="right">
                      <div class="history-item-text-1">아이디어톤</div>
                      <div class="history-item-text-2"></div>
                      <img style="
                              border: 3px solid gold;
                              border-radius: 7px;
                              -moz-border-radius: 7px;
                              -khtml-border-radius: 7px;
                              -webkit-border-radius: 7px;
                              " src="{% static 'img/history/아이디어톤.png' %}" width="375" hight="250">
                    </div>
                  </div>
                  <div class="history-item">
                    <div class="left">
                      <div class="history-item-text-1">8월</div>
                    </div>
                    <div class="right">
                      <div class="history-item-text-1">중앙해커톤</div>
                      <div class="history-item-text-2"></div>
                      <img style="
                              border: 3px solid gold;
                              border-radius: 7px;
                              -moz-border-radius: 7px;
                              -khtml-border-radius: 7px;
                              -webkit-border-radius: 7px;
                              " src="{% static 'img/history/중앙해커톤.jpg' %}" width="375" hight="250">
                    </div>
                  </div>
                  <div class="history-item">
                    <div class="left">
                      <div class="history-item-text-1">8월</div>
                    </div>
                    <div class="right">
                      <div class="history-item-text-1">넥슨 MOD해커톤</div>
                      <div class="history-item-text-2">최우수상 수상</div>
                      <img style="
                              border: 3px solid gold;
                              border-radius: 7px;
                              -moz-border-radius: 7px;
                              -khtml-border-radius: 7px;
                              -webkit-border-radius: 7px;
                              " src="{% static 'img/history/mod해커톤.jpg' %}" width="375" hight="250">
                    </div>
                  </div>
                  <div class="history-item">
                    <div class="left">
                      <div class="history-item-text-1">11월</div>
                    </div>
                    <div class="right">
                      <div class="history-item-text-1">충청지역 연합 해커톤</div>
                      <div class="history-item-text-2">지역사회 문제 부문 수상</div>
                      <img style="
                          border: 3px solid gold;
                          border-radius: 7px;
                          -moz-border-radius: 7px;
                          -khtml-border-radius: 7px;
                          -webkit-border-radius: 7px;
                          " src="{% static 'img/history/충청톤.jpg' %}" width="375" hight="250">
                    </div>
                  </div>
                </div>
            </div>
          </section>
        </div>

        <div class="tab-pane fade" id="menu-lunch">

          
          <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Curriculum</h2>

                <img src="{% static 'img/curriculum/가로.png' %}" width="100%"/>
                <hr>
                <br>

                <div class="d-flex flex-column flex-md-row justify-content-between-mb-5"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/curriculum/django.png' %}" style="width : 100px; height : 100px;"/>
                    <div class="flex-grow-1">
                        <h3 class="mb-0">&nbsp;&nbsp;&nbsp; Back-End</h3>
                        <div class="subheading mb-3">&nbsp;&nbsp;&nbsp;&nbsp; Django</div>
                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Django로 RESTful API에 대해 학습합니다.</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With Python</p>
                    </div>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-between"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/curriculum/react.png' %}" style="width : 100px; height : 100px;"/>
                    <div class="flex-grow-1">
                        <h3 class="mb-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Front-End</h3>
                        <div class="subheading mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;React</div>
                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;React와 CSS로 웹 페이지를 구성합니다.</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With CSS</p>
                    </div>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-between"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/curriculum/aws2.png' %}" style="width : 100px; height : 100px;"/>
                    <div class="flex-grow-1">
                        <h3 class="mb-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Realease</h3>
                        <div class="subheading mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AWS</div>
                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AWS를 이용해 배포합니다.</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With AWS</p>
                    </div>
                </div>
            </div>
            
        </section>
        </div><!-- End Lunch Menu Content -->

      </div>

    </div>
  </section><!-- End Menu Section -->


  </main><!-- End #main -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <!-- <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script> -->
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/History.js' %}"></script>
{% endblock %}