{% extends "base.html" %}
{% load static %}
{% block style %}

<link href="{% static 'css/scroll.css' %}?after" rel="stylesheet" />
<style>
    @font-face {
        font-family: 'Happiness-Sans-Title';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    #cont{
        font-family: 'Happiness-Sans-Title';
        font-size: 17pt;
    }
</style>

{% endblock %}


{% block content %}
        <!-- Page Content-->
        <div class="container-fluid p-0" style="min-height: 100%; background-size: 100% 100%; background-repeat: no-repeat; background-image: url('{% static "img/학교.png" %}');">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content" style="width: auto;">
                    <h1>
                        LIKELION UNIV X <span><font style="color:rgb(239,65,74)" >H</font><font style="color:rgb(216,150,92)" >B</font><font style="color:rgb(57,138,159)" >N</font><font style="color:rgb(55,78,128)" >U</font></span>
                    </h1>
                    <div class="subheading mb-5">
                        Since 2013
                    </div>
                    <br>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.instagram.com/hbu_likelion/?hl=ko"><i class="fab fa-instagram"></i></a>
                        <a class="social-icon" href="https://github.com/dus001228/likelion_11th.git"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/%EB%A9%8B%EC%9F%81%EC%9D%B4%EC%82%AC%EC%9E%90%EC%B2%98%EB%9F%BC-at-%ED%95%9C%EB%B0%AD%EB%8C%80%ED%95%99%EA%B5%90-1252739578152373/"><i class="fab fa-facebook"></i></a>
                        <a class="social-icon" href="https://open.kakao.com/o/syshtf0d"><i class="fas fa-comment"></i></a>
                    </div>
                </div>
            </section>

        </div>
        <a id = "hello" href="#michin"><span></span><span></span><span></span></a>

        <div id ="michin" class="mt-3 p-5">
        <h3 style="color: orange">
            <i class="fas fa-paw"></i>멋쟁이 사자처럼이란?
          </h3>
          <br />
          <p class="lead mb-5">
            멋쟁이 사자처럼은 비전공자들도 프로그래밍 기초 지식을 배워 자신만의 웹
            서비스를 만들어 꿈을 실현할 수 있게해주는 비영리 단체입니다.
            <br />이론 위주의 지루한 코딩보다, 직접
            서비스를 만들어보며 아이디어를 실현시킬 수 있는 방법을 알려드립니다.
            <br />프로그래밍을 잘 몰라도, 심지어 지식이 전무해도 상관 없습니다.
            배우고자 하는 열정만 있다면 충분합니다! <br>
            올한해 열정 넘치는 팀원, 풍부한 경험을 가진 멘토와 아이디어를 실현하 보아요.
          </p>


        </div>

<hr>
            <div class="container mt-5">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">What we do?</h2>
                </div>
                <div class="row text-center">
                    <div class="col-md-4 mt-5">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa-solid fa-pen-nib fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 class="my-3">STUDY</h4>
                        <p class="text-muted" id="cont">웹서비스 제작 기술 학습</p>
                    </div>
                    <div class="col-md-4 mt-5">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 class="my-3">HACKATHON</h4>
                        <p class="text-muted" id="cont">전국의 멋대생의 아이디어 축제</p>
                    </div>
                    <div class="col-md-4 mt-5">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-people-group fa-stack-1x fa-inverse"></i>
                        </span>
                        <h3 class="my-3">NETWORK</h4>
                        <p class="text-muted" id="cont">같은 꿈과 비젼을 가진 사람들과의 네트워크 형성</p>
                    </div>
                </div>
            </div>
{% endblock %}