{% extends "base.html" %}
{% load static %}



{% block content %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <img src="" alt="">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        LIKE-LION 
                        <span class="text-primary">X HBNU</span>
                    </h1>
                    <div class="subheading mb-5">
                        Since 2013
                        <a href="https://techit.education/?utm_source=PL&utm_medium=SA&utm_campaign=PL_GGL_Search_Ondemand&utm_content=home&gclid=Cj0KCQiAnsqdBhCGARIsAAyjYjRDC29tIaAjUacSnFmZR8WaJJWWlTHNh3WxRFYciuQ8GJklm9rAds0aAjU9EALw_wcB">Click Here!</a>
                    </div>
                    <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="#!"><i class="fab fa-instagram"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Curriculum</h2>

                    <div class="d-flex flex-column flex-md-row justify-content-between-mb-5"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/django.png' %}" style="width : 100px; height : 100px;"/>
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Back-End</h3>
                            <div class="subheading mb-3">Django</div>
                            <div>Django로 RESTful API에 대해 학습합니다.</div>
                            <p>With Python</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">9 Weeks</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/react.png' %}" style="width : 100px; height : 100px;"/>
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Front-End</h3>
                            <div class="subheading mb-3">React</div>
                            <div>React와 CSS로 웹 페이지를 구성합니다.</div>
                            <p>With CSS</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">9 Weeks</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/aws2.png' %}" style="width : 100px; height : 100px;"/>
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Realease</h3>
                            <div class="subheading mb-3">AWS</div>
                            <div>AWS를 이용해 배포합니다.</div>
                            <p>With AWS</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">9 Weeks</span></div>
                    </div>
                </div>
                
                <div class="d-flex flex-column flex-md-row justify-content-between"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/github.png' %}" style="width : 100px; height : 100px;"/>
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Collaboration</h3>
                        <div class="subheading mb-3">Github</div>
                        <div>Git을 통해 협업합니다.</div>
                        <p>With Github</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">9 Weeks</span></div>
                </div>
            </section>
            <hr class="m-0" />

            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Join us</h2>
                    <p>곧 모집을 시작합니다!</p>
                    <p class="mb-0">1.아래 [ 지원서 다운로드 ] 버튼을 클릭한 후 지원서 다운로드</p>
                    <br>
                    <p class="mb-0">2.지원기간 ( 2월 26일 오전 0시 ~ 3월 3일 오후 5시) 내에 지원서 작성</p>
                    <br>
                    <p class="mb-0">3.아래 [ 지원하기 ] 버튼을 클릭해 구글 폼 작성 및 지원서 업로드</p>
                    <br>
                    <p class="mb-0">4.각 문항 별 글자수 : 1000자 이내(공백 포함)</p>

                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Google Analytics Certified Developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            Mobile Web Specialist - Google Certification
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            2
                            <sup>nd</sup>
                            Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            1
                            <sup>st</sup>
                            Place - James Buchanan High School - Hackathon 2006
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            3
                            <sup>rd</sup>
                            Place - James Buchanan High School - Hackathon 2005
                        </li>
                    </ul>
                </div>
            </section>
        </div>
{% endblock %}