{% extends "base.html" %}
{% load static %}


{% block style %}
<style>
.button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
    display:block;
    margin:auto;
    width: 40%;
    height: 30%;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.button {
	position: relative;
	background-color: #f7d034;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #f7ba59;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.button:hover {
	top: -4px;
	box-shadow: 0 7px 0 #f7ba59;
}
.button:active {
	top: 3px;
	box-shadow: none;
}

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#date{
    text-align: center; 
    font-family: 'Happiness-Sans-Title'; 
    font-size: xx-large;
}
</style>


{% endblock %}

{% block content %}
<div style="min-height: 100%; padding-top: 30%;">
    <a class="button" href="https://forms.gle/mv2z4zpTY5jsJLWN6"><b>Apply</b></a>
    <div id = "date" class="mt-5">
        <P>11기 아기사자 모집은 2월 13일 00:00 부로 시작될 예정입니다.</P>
    </div>
</div>
{% endblock %}
